footer {
    display: flex;
    height: 80px;
    border-radius: 20px 20px 0 0;
    width: 683px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -1px;
    box-shadow: 0px -19px 20px rgba(0, 0, 3, 0.26);
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-self: center;
    backdrop-filter: blur(10px);
    text-shadow: -5px -1px 20px #000000b0;
}
footer p{
    background-color: transparent;
}

@media (max-width : 700px) {
    footer {
        width: 100%;
    }
}