footer {
   display: flex;
    height: 80px;
    width: 700px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -1px;
    box-shadow: 1px 5px 15px rgba(0, 0, 3, 0.8);
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-self: center;
    backdrop-filter: blur(17px);
    filter: grayscale(60);
}
footer p{
    background-color: transparent;
}

@media (max-width : 700px) {
    footer {
        width: 100%;
    }
}