#resultsCount {
    margin: 30px;
    background-color: #d6edff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0px 1px 8px 0px rgba(0, 0, 0, 0.8);
    font-variant-caps: petite-caps;

}

.products {
    margin-bottom: 50px;
}