/* CAROUSEL */

.carousel {
    width: 90%;
    place-self: anchor-center;
    height: 200px;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    margin-top: 20px;
    border-radius: 20px;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
    height: -webkit-fill-available;
}


.slide {
    min-width: 100%;
    flex-shrink: 0;
    flex: 0 0 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: transform 0.4s ease-in-out;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    pointer-events: none;
}

.caption {
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
    font-size: 10px;
    box-shadow: inset 10px 5px 15px rgba(0 0 0 /13%);
}

.caption h2 {
    font-size: 22px;
    color: rgb(21, 89, 116);
    display: ruby-text;
    font-variant-caps: small-caps;
}

.caption p {
    font-size: 20px;
}

/* DOTS */

.dots {
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 100%;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 50%;

}

.dot.active {
    background: rgb(94, 255, 0);
}

.search{
    display: flex;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid grey;
    text-align: left;
    place-self: anchor-center;
}

/* CATEGORIES */

.categories {
    margin-top: 20px;
    background: linear-gradient(rgba(255, 255, 255, 0.363), rgba(54, 72, 80, 0.5));
    border-radius: 0 0 10px 10px;
    padding: 15px 10%;
}



.categories h3 {
    margin-bottom: 10px;
    -webkit-text-stroke: thin
}
.category-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-self: center;
    width: 80%;
    justify-items: center;

}

.category {
    max-width: 150px;
    height: 130px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    box-shadow: 1px 5px 15px rgba(192, 191, 191, 0.8);
}

.category:nth-child(1) {
    background: url("https://i.pinimg.com/736x/73/9c/7e/739c7e9aa5fa6ca224887a6e63932966.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(2) {
    background: url("https://i.pinimg.com/736x/3e/24/b7/3e24b7db916793d5959ca7be0d31bc52.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(3) {
    background: url("https://i.pinimg.com/736x/9f/80/f6/9f80f693697217e02bdada230b68a686.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;

}

.category:nth-child(4) {
    background: url("https://i.pinimg.com/736x/26/af/6b/26af6bc826807ee279c943d04a9de1ce.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(5) {
    background: url("https://i.pinimg.com/736x/dd/75/69/dd756909e025cafcf0e1b5a2cc2f84d0.jpg");
    background-size: contain;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(6) {
    background: url("https://i.pinimg.com/736x/79/eb/b0/79ebb0af2cf120165577eed01b291b82.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
    color: grey;
}

.category p {
    font-size: 13px;
    margin-top: 5px;
    font-size: x-large;
    margin-top: 5px;
    text-align: center;

}


.texts {
    height: max-content;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 40px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.texts div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reveal {
    opacity: 0;
    transition: transform 5s ease, opacity 4s ease;
}

.slide-from-left {
    border-top: solid 1px rgba(128, 128, 128, 0.397);
}

.slide-from-left:nth-child(1) {
    transform: translateX(-50px);
}

.slide-from-left:nth-child(2) {
    transform: translateX(-200px);
}

.slide-from-left:nth-child(3) {
    transform: translateX(-300px);
}

.slide-from-left:nth-child(4) {
    transform: translateX(-350px);
}

.reveal.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}



/* phone */

@media (max-width: 768px) {
     :root {
     --fa-style-family-brands: "Font Awesome 6 Brands";
     --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
     background-color: rgb(0, 0, 0);
     width: 100%;

 }
    body {
        background-color: #ffffff;
    }

    .product {
        grid-template-columns: repeat(2, 1fr);
    }

    .carousel {
        height: 200px;
    }

    .slide img {
        height: 370px;

    }

    .categories {
        padding: 15px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .product {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .product button {
        align-self: right;
    }


    footer {
        width: 100%;
    }
}
