.dark-mode {
    background-color: black;
    color: white;
}
p.dark-mode {
    background-color: transparent;
    color: white;
}
.light-mode {
    background-color: white;
    color: black;
}
p.light-mode {
    background-color: transparent;
    color: black;
}


/* CAROUSEL */
.divCarousel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    background: linear-gradient(181deg, #a0b2b980, #1090fd0f 100px);
    border-radius: 9px;
}

.carousel {
    width: 90%;
    place-self: anchor-center;
    height: 400px;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    margin-top: 20px;
    border-radius: 20px;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: 100%;
    height: 130px;
}


.slide {
    min-width: 100%;
    flex-shrink: 0;
    flex: 0 0 100%;
    height: 178%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    transition: transform 0.4s ease-in-out;

}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    pointer-events: none;
}

.caption {
    position: absolute;
    bottom: 23px;
    left: 20px;
    color: white;
    font-size: 10px;
    box-shadow: inset 10px 5px 15px rgba(0 0 0 /13%);
}

.caption h2 {
    font-size: 22px;
    color: rgb(21, 89, 116);
    display: ruby-text;
    font-variant-caps: small-caps;
    
}

.caption p {
    font-size: 20px;
    background-color: transparent;
    color: white;
}


/* DOTS */

.dots {
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 100%;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #bbb;
    border-radius: 50%;

}

.dot.active {
    background: rgb(94, 255, 0);
}

:root {
    --primary: #ffffff;
    --bg: #ffffff;
    --border: #e5e7eb;
    --text: #111827;
    --radius: 14px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #1f2937;

        --text: #000000;
    }
}

.search-wrapper {
    max-width: 600px;
    margin: 0 40px;
    padding: 0 1rem;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    background: white;
    color: black;
    border-radius: var(--radius);
    padding: -0rem 1rem;
    transition: all 0.25s ease;
    margin-top: 15px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0px 1px 2px 0 rgba(0, 0, 0, 0.7);
    height: 35px;
}

.search-container:focus-within {
    border-color: var(--primary);
    box-shadow: 1px 0px 4px 4px rgb(0 0 0 / 7%);
}

.search-icon {
    width: 20px;
    height: 20px;
    color: #9ca3af;
    margin-right: 0.5rem;
}

#SearchInput {
    flex: 1;
    outline: none;
    width: 100%;
    background: white;
    font-size: 1rem;
    color: black;
    border: none;
    width: 100%;
    height: 30px;
}

#clearSearch {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #9ca3af;
    display: none;
}

.highlight {
    background-color: #fde68a;
    padding: 0 2px;
    border-radius: 4px;
}

.marquee-input {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.marquee-input input {
    width: 100%;
    padding: 8px;
}

.fake-placeholder {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    white-space: nowrap;
    color: #999;
    pointer-events: none;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(0, -50%);
    }

    100% {
        transform: translate(-100%, -50%);
    }
}


/* CATEGORIES */

.categories {
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
    padding: 15px 10%;
}



.categories h3 {
    margin-bottom: 10px;
    -webkit-text-stroke: thin
}

.category-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px;
    align-items: center;
    align-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-self: center;
    width: 80%;
    justify-items: center;
    height: 308px;


}

.category {
    max-width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 1px 5px 15px rgb(34 97 91 / 28%);
}

.category:nth-child(1) {
    background: url("https://i.pinimg.com/736x/73/9c/7e/739c7e9aa5fa6ca224887a6e63932966.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(2) {
    background: url("https://i.pinimg.com/736x/3e/24/b7/3e24b7db916793d5959ca7be0d31bc52.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(3) {
    background: url("https://i.pinimg.com/736x/b0/07/d0/b007d001ef7659c61f44a7acd310d6ef.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;

}

.category:nth-child(4) {
    background: url("https://i.pinimg.com/736x/26/af/6b/26af6bc826807ee279c943d04a9de1ce.jpg");
    background-size: cover;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(5) {
    background: url("https://i.pinimg.com/1200x/08/73/34/087334b4cff54aa3ea48e10d14ef708f.jpg");
    background-size: contain;
    background-repeat: round;
    width: 100%;
}

.category:nth-child(6) {
    background: url("https://i.pinimg.com/736x/3c/bb/51/3cbb51764da10a5ae6bc10f9bdcb80b1.jpg");
    background-size: contain;
    background-repeat: round;
    width: 100%;
}


.category p {
    font-size: 16px;
    text-align: center;
    position: absolute;
    margin-top: 126px;
}


.texts {
    height: max-content;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 40px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.texts div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.reveal {
    opacity: 0;
    transition: transform 5s ease, opacity 4s ease;
}

.slide-from-left {
    border-top: solid 1px rgba(128, 128, 128, 0.397);
}

.slide-from-left:nth-child(1) {
    transform: translateX(-50px);
}

.slide-from-left:nth-child(2) {
    transform: translateX(-200px);
}

.slide-from-left:nth-child(3) {
    transform: translateX(-300px);
}

.slide-from-left:nth-child(4) {
    transform: translateX(-350px);
}

.reveal.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}



/* phone */

@media (max-width: 768px) {
    :root {
        --fa-style-family-brands: "Font Awesome 6 Brands";
        --fa-font-brands: normal 400 1em / 1 "Font Awesome 6 Brands";
        width: 100%;

    }


    .product {
        grid-template-columns: repeat(2, 1fr);
    }

    .carousel {
        height: 268px;
    }

    .slide img {
        height: 370px;

    }

    .categories {
        padding: 5px;
    }

    .category {
        max-width: 68px;
        height: 68px;
    }

    .category p {
        font-size: 16px;
        text-align: center;
        position: absolute;
        margin-top: 120px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: 300px;
    }

    .product {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .product button {
        align-self: right;
    }


    footer {
        width: 100%;
    }
}
